<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="beet" class="spring_introduction_8.Beet"></bean>
    <bean id="cabbage" class="spring_introduction_8.Cabbage"></bean>
    <bean id="gardenBed" class="spring_introduction_8.GardenBed"><constructor-arg ref="cabbage"></constructor-arg></bean>

</beans>